[Unit]
Description=Service for xpaste app
After=network.target

[Service]
User=s045724
WorkingDirectory=/app/
ExecStart=/bin/bash -lc 'bundle exec rake db:migrate && bundle exec puma -b unix:/tmp/puma.sock -e $RAILS_ENV config.ru'
Restart=always

[Install]
WantedBy=multi-user.target